* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    background-color: black;
}

.titulo {
    height: 10%;
    width: 100%;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: 10%;
}

.logo {
    height: auto;
    width: 100%;
    grid-column: 1;
}

.rh {
    position: relative;
    grid-column: 3;
    height: auto;
    width: 100%;
}

.titulo h1 {
    font-family: Impact, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5rem;
    color: #000;
    grid-column: 2;
}

h3 {
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
    color: #dde;
}

p {
    font-family: monospace;
    font-size: 1rem;
    color: #eef;
    text-align: left;
}

.box1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #444;
    width: 80%;
    position: absolute;
    padding: 3rem;
    margin: 16px auto;
    border: 1px solid #222;
    border-radius: 25px;
    box-shadow: 0 2px 3px black;
    left: 10%;
}